/* start global rules  */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules  */

/* start header  */
body {
    width: 100%;
}
.header {
    height: 70px;
    background-color: white;
    
}

.header .head-cont {
    height: 70px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto ;

}
.header .logo {
    color: var(--main-color);
    font-weight: bold;
    padding:  auto;
    margin-top: 25px;
    font-size: 20px;
    
    

    
}
.header .nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-right: -40px; */
    
}
.header .nav > li {
    padding: 0 20px;
    /* font-weight: bold; */
    color: black;
    position: relative;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    
    
}
.header .nav > li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border: 3px solid;
    border-color: transparent;


}
.header .nav > li:hover::before {
    animation: animate .3s linear forwards;
    border-color:  var(--main-color) transparent transparent transparent;
}
@keyframes animate {
   
    100% {
        width: calc(100% + 10px);
        height: 0;
        
    }
}

    
.header .nav > li:hover {
    background-color: #1786e02d;
    color: var(--main-color);
    
}
.header .nav li a {
    text-decoration: none;
    color: black;
    
}
.header .nav li:hover a {
    color: var(--main-color);
}


@media (max-width:767px) {
    .header {
        height: 140px;
        width: 100%;
        /* overflow: hidden; */
        position: relative;
        
    }
    
    .logo {
        position: absolute;
        top: 5px;
        left: 0;
        text-align: center;
        /* transform: translateX(-50%); */
        /* margin: 0 35%; */
        width: 100%;
        padding: 0 23%; 
        
        
        
    }
    .nav {
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 5px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-left: -2%;
        
        
    }
    .nav li {
        width: 25%;
        
    }
    
}

    
.header .nav li:not(:last-child)  {
    overflow: hidden;
}
    
    /* start mega menu  */
    
.header .mega-menu {
position: absolute;
width: 1100px;
height: 400px;
background-color: white;
top: 100px;
right: 0;
border-bottom: 4px solid var(--main-color);
z-index: -1;
opacity: 0;
display: flex;
justify-content: space-around;
    
}

@media (max-width:991px) {
    .mega-menu {

        max-width: 700px;
    }
    .mega-menu img {

        display: none;
    }
    
    .mega-menu .links {
        
        width: 300px;
    }
    .mega-cont .links li {
        
    }
}
@media (max-width:767px) {  
    .mega-menu {

        max-width: 90vw;
        padding: 10px 0px 10px 30px;
    }
    .mega-menu li {
        width: 30vw;
        margin: 0;
    }
}

@media (max-width:450px) {
    .mega-menu {
        transform: translateX(-9%);
        min-height: 75vh;
        min-width: 90vw;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .mega-menu .links {
        margin: 0 20px;
    }
    .mega-menu .links:last-of-type li:first-of-type {
        
        margin-top: -20px;
    }
}

.mega-menu li {
    overflow: hidden;
}


.o-links:hover .mega-menu {
    opacity: 100;
    z-index: 100;
    animation: move .2s linear forwards;
    
    
    
}
@keyframes move {
    0% {
        top: 100px;
    }
    100% {
        top: 75px;
    }
}


.mega-menu img {
    /* height: 300px; */
    width: 50%;
    background: transparent;
    
}
.mega-menu .links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;


}
.mega-menu .links li {
    padding: 15px; 
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
    border-bottom: 1px solid #777;
    height: fit-content;
    position: relative;
    min-width: 240px;


}
.mega-menu .links li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}
.mega-menu .links li:hover::after {
    animation: bg-animate .5s linear forwards;
}
@keyframes bg-animate {
    0% {
        width: 0;
        background-color: transparent;
    }
    100% {
        width: 100%;
        background-color: #1786e02d;
    }
}

.mega-menu .links li a {
    
    margin-left: 20px;
    color: var(--main-color);
}
/* end header  */

/* start landing  */
.landing {
    height: calc(100vh - 75px);
    position: relative;
    
    
}
.landing::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    transform: skewY(-6deg);
    transform-origin: top left;
    z-index: -1;
    
}
.landing .land-cont {
    position: relative;
    min-height: calc(100% - 140px);
}

.land-cont h1 {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 40%;
    font-size: 40px;
    letter-spacing: -1px;

} 
.land-cont p{
    position: absolute;
    top: 35%;
    left: 5%;
    width: 40%;
    font-size: 20px;
    line-height: 1.5;
    color: #777;
}

.land-cont img {
    width: 50%;
    position: absolute;
    right: 5%;
    animation: land-img 3s alternate-reverse infinite;
}   
@keyframes land-img {
    0% {
        top: 12%;
    }
    100% {
        top: -5%;
    }
    
}
.landing i {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    font-size: 30px;
    animation: ddown 1s reverse infinite;
}
@keyframes ddown {
    0% {
        bottom: 1%;
    }
    100% {
        bottom: 5%;
    }
}

@media (max-width:900px) {
    @keyframes land-img {
        0% {
            top: 20%;
        }
        100% {
            top: -5%;
        }
        
    } 
}

@media (max-width:767px) {
    .landing {
        height: calc(100vh - 140px);
    }

    .land-cont h1 {
        width: 80%;
        left: 10%;
        font-size: 28px;
        top: 10%;
    }
    .land-cont p {
        border: 4px solid white;
        border-radius: 10px;
        padding: 10px;
        font-size: 16px;
        
    }
    @keyframes land-img {
        0% {
            top: 50%;
        }
        100% {
            top: 30%;
        }
        
    }
}

/* end landing  */

.main-heading {
    margin: 50px auto;
    max-width: fit-content;
    z-index: 1; 
    position: relative;
}
.main-heading h1 {
    width: fit-content;
    padding: 10px 20px;
    border: 5px solid black;
    position: relative;
}
.main-heading:hover h1 {
    color: white;
    border-color: white;
    transition-delay: 0.5s;
    
}
.main-heading h1::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: -1;
}
.main-heading:hover ::before {

    animation: scale-b 0.5s linear forwards;
}
@keyframes scale-b {
    50% {
        left: 0;
        width: 15px;
        height: 15px;
        
    }
    100% {
        width: 50.5%;
        height: 100%;
        border-radius: 0;
        left: 0;
        
        
    }
}


.main-heading h1::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: -1;
}
.main-heading:hover ::after {

    animation: scale-a 0.5s linear forwards;
}

@keyframes scale-a {
    50% {
        right: 0;
        width: 15px;
        height: 15px;
    }
    100% {
        width: 50.5%;
        height: 100%;
        border-radius: 0;
        right: 0;
        
    }
}
/* start articles  */

.articles {
    
}
.articles .main-heading {

}
.articles .article-cont {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 40px ;
    row-gap: 40px ;
}
.article-cont .card {
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 10px  rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding-bottom: 10px;
}
.article-cont img {
    max-width: 100%;
    justify-content: center;
}
.article-cont h2 {
    padding: 10px;
    margin-bottom: 0;
}
.article-cont p {
    margin-top: 0;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #777;
    padding: 10px;
}
.article-cont a {
    color: var(--main-color);
    font-size: 18px;
    padding: 10px ;
    font-weight: bold;
    box-shadow: -7px 0px 10px 6px rgba(0, 0, 0, 0.1);
    
}
.article-cont i {
    margin-left: 45%;
}

.article-cont .card:hover i {
    animation: jump 0.5s reverse infinite;
}
@keyframes jump {
    0% {
        margin-left: 45%;
    }
    100% {
        margin-left: 50%;
    }
}
.article-cont .card:hover {
    animation: card-h 0.3s linear forwards;
}
@keyframes card-h {
    100% {
        transform: translateY(-10px);
        box-shadow: 0.5px 0.5px 10px  rgba(0, 0, 0, 0.7);
    }
}
/* end articles  */
/* start gallery  */
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ececec;
    margin-top: 100px;
    padding-bottom: 50px;
    position: relative;
}
.gallery::before {
    
    content: '';
    background: linear-gradient(-45deg, #ececec 16px, transparent 0px),
                linear-gradient(45deg, #ececec 16px, transparent 0px);
    background-size: 25px 30px;
    width: 100%;
    height: 30px;
    position: absolute;
    top: -30px;
    left: 0;

}
.gallery-cont {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.gallery-cont img {
    width: 100%;
    height: 100%;
    border: 15px solid white;
    position: relative;
    
}

.gallery-cont img:hover {
    transform: rotate(2deg) scale(1.2);
}
/* end gallery  */

/* start features */
.features {
    margin: 100px auto;
}
.features-cont {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:450px) {
    .features-cont {
        width: 90%;
        column-gap: 0;
        
    }
}
.features-cont .box {
    border: 1px solid black;
    text-align: center;
    padding-bottom: 40px;
    max-width: 100%;
    
}
.features-cont .img {
    position: relative;

}
.features-cont img {
    width: 100%;
    
}
#red .img::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.45);
    z-index: 5;
}
#green .img::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.45);
    z-index: 5;
}
#blue .img::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.45);
    z-index: 5;
}
.features-cont .img::after {
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
    background-color: white;
    z-index: 10;
}
.features-cont .box:hover .img::after {
    animation: wave 0.15s linear forwards;
}
@keyframes wave {
    100% {
    clip-path: polygon(0 50%, 0% 100%, 100% 100%);
    }
}

.features-cont h2 {
    margin: 40px auto;
    padding: 10px;
    font-size: 40px;
    width: fit-content;
    border-bottom: 5px solid;
}
#red h2 { border-color: red;} 
#green h2 { border-color: green;}
#blue h2 { border-color: blue;}

.features-cont p {
    margin: 30px 5px;
    padding: 20px;
    line-height: 2;
    font-size: 18px;
}
.features-cont a {
    margin: 30px auto;
    padding: 10px 30px;
    border: 2px solid ;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    
}

#red a { border-color: red;
         color: red;} 
#green a { border-color: green;
           color: green;}
#blue a { border-color: blue;
          color: blue;}

.features-cont a::after {
    position: absolute;
    left: -1px;
    bottom: -1px;
    content: '';
    width: 0%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
}
#red a::after {background-color: rgba(255, 0, 0, 0.5);}
#green a::after {background-color: rgba(0, 255, 0, 0.5);}
#blue a::after {background-color: rgba(0, 0, 255, 0.5);}

.features-cont .box:hover a::after {
    animation: a-progress 0.2s linear forwards;    
}
@keyframes a-progress {
    100% {
        width: 102%;
        height: 102%;
    }
}
/* end features */

/* start testi */
.testi {
    padding: 50px 0;
    background-color: #ececec;
    
}
.testi .main-heading {
    position: relative;
    
}
.testi-cont {
    margin: 100px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    
}
.testi-cont .box {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
@media (max-width:450px) {
    .testi-cont{
        row-gap: 50px;
        width: 90%;
    }
    .testi .main-heading {
        position: relative;
        overflow: hidden;
    }
}
.testi-cont .text {

}
.testi-cont h3 {

}
.testi-cont span {
    color: #777;
} 
.testi-cont .stars {
    display: flex;
    padding: 10px 0;
} 

.stars li {
    margin-left: 5px;
    color: gold;
}
.stars li .far {
    color: rgba(0, 0, 0, 0.6);
}
.testi-cont p {
    color: #777;
    line-height: 2;
} 
.testi-cont .avatar {
    position: absolute;
    top: -20%;
    right: -2%;
    max-width: 25%;
    max-height: 50%;
    border: 10px solid #ececec;
    border-radius: 50%;
}
/* end testi */

/* start team */
.team {
    margin: 100px auto;
    padding-bottom: 50px;
}
.team-cont {
    margin: 100px auto 50px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}
.team-cont .member {
    background-color: #ececec;
    width: 300px;
    height: 450px;
    position: relative;
    border-radius: 10px;
}
.team-cont img {
    max-width: 280px;
    position: absolute;
    top: 10%;
    left: -10%;
    border-radius: 15px;
    z-index: 1;
    
    
} 

.team-cont .member::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 0;
    
}
.member:hover::after {
    animation: layer 0.2s linear forwards;
    
}
.member:hover img {
    filter: grayscale(100%);
}
@keyframes layer {
    100% {
        width: 100%;
    }
}

.team-cont .text { 
    position: absolute;
    bottom: 10px;
    left: 20px;

} 
.team-cont .text h3 {
    color: var(--main-color);
    font-size: 25px;
    
}
.team-cont .icons {
    position: absolute;
    top: 25%;
    right: 18px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;

} 
.team-cont .icons i {
    color: #777;
    cursor: pointer;
}
.team-cont .icons i:hover {
    color: var(--main-color);
}

@media (max-width:767px) {
    .team .main-heading {
        overflow: hidden;
    }
    .team-cont {
        width: 75%;
        row-gap: 50px;
        column-gap: 0;
        
    }
}
/* end team */

/* start services */
.services {
    background-color: #ececec;
    padding: 50px 0;
    position: relative;
    
}
.services::before {
    content: '';
    background: linear-gradient(-45deg, #ececec 16px, transparent 0px),
                linear-gradient(45deg, #ececec 16px, transparent 0px);
    background-size: 25px 30px;
    width: 100%;
    height: 30px;
    position: absolute;
    top: -30px;
    left: 0;
}
.services .main-heading {
    position: relative;
}
.services-cont {
    margin: 50px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 35px;
    row-gap: 50px;
}
.services-cont .box {
    background-color: white;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7) ;
    position: relative;
}
.services-cont .box:hover {
    animation: serv-move 0.2s linear forwards;
}
@keyframes serv-move {
    100% {
        transform: translateY(-10px);
    }
}
.services-cont .box::before {
    position: absolute;
    content: '';
    top: -4px;
    left: 50%;
    background-color: var(--main-color);
    height: 4px;
    width: 0%;
}
.services-cont .box:hover::before {
    animation: box-line 0.2s linear forwards;
}
@keyframes box-line {
    100% {
        left: 0;
        width: 100%;
    }
}
.services-cont .head {
    text-align: center;
    padding: 30px ;
}
.services-cont .head i {
    font-size: 60px;
    color: rgb(192, 192, 192);
}
.services-cont .head h3 {
    font-size: 30px;
    color: var(--main-color);
}
.services-cont .foot {
    background-color: rgba(209, 207, 207, 0.226);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    overflow: hidden;
}
.services-cont .foot .number {
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: relative;
    z-index: 1;
    padding: 15px;
}
.foot .number::before {
    position: absolute;
    top: 0;
    left: -30px;
    content: '';
    width: 250%;
    height: 100%;
    background-color: rgba(209, 207, 207, 1);
    z-index: -2;
    transform: skewX(-40deg);
}
.foot .number::after {
    position: absolute;
    top: 0;
    left: -30px;
    content: '';
    width: 180%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transform: skewX(-40deg);
}
.services-cont .foot a {
    font-size: 20px;
    padding: 20px;
    color: var(--main-color);
}
@media (max-width:450px) {
    .services-cont {
        width: 100%;
        
    }
    .services-cont .box {
        width: 90%;
        margin-left: 5%;
    }
}
/* end services */

/* start our skills */

.skills {
    margin: 100px auto;
}
.skills-cont {
    margin: 100px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-cont img {
    max-width: 50%;    
}
.skills-cont ul {
    width: 50%;

}
.skills-cont ul li {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

.light-grey {
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
}
.light-blue {
    border-radius: 5px;
}

.light-grey::after {
    position: absolute;
    content: attr(data-progress);
    right: 0;
    top: -40px;
    padding: 3px;
    border: 1px solid #bbbbbb ;
    font-size: 16px;
    color: var(--main-color);
    border-radius: 5px;
}
@media (max-width:450px) {
    .skills-cont img {
        display: none;
    }
    .skills-cont ul {
        width: 100%;
    }
}
/* end our skills */

/* start works  */
.works {
    padding: 50px 0;
    background-color: #ececec;
}
.works-cont {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.works-cont img {
    
}
.works-cont .steps {
    width: 50%;
}
.works-cont .step {
    margin: 20px auto;
    border: 2px solid white;
    background-color: #f6f5f5;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
}
.works-cont .step:hover {
    background-color: #ececec;
}
.works-cont .step img {
    max-height: 80px;
}
.works-cont .step .text {
    width: 70%;
    font-size: 18px;
    
}
.works-cont .step .text p {
    color: #777;
    line-height: 1.5;
}
@media (max-width:991px) {
    .works .main-heading {
        overflow: hidden;
    }
    .works-cont {
        flex-direction: column;
        width: 90%;
    }

    .works-cont>img {
        width: 80%;
        margin-bottom: 30px;
    }
    .works-cont .steps {
        width: 100%;
    }
    .works-cont .step {
        flex-direction: column;
    }
    .works-cont .step .text {
        width: 100%;
        text-align: center;
    }
}
/* end works  */

/* start events  */
.events {
    padding: 50px 0;
    position: relative;
}
.events::before {
    position: absolute;
    content: '';
    bottom: 10%;
    left: 0;
    width: 250px;
    height: 200px;
    background-image: radial-gradient( var(--main-color) 4px, transparent 4px);
    background-size: 25px 25px;
    z-index: -1;
}
.events::after{
    position: absolute;
    content: '';
    top: 10%;
    right: 0;
    width: 250px;
    height: 200px;
    background-image: radial-gradient( var(--main-color) 4px, transparent 4px);
    background-size: 25px 25px;
    z-index: -1;
}
.events-cont {
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.events-cont>img {
    max-width: 45%;
}
.events-cont .content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.events-cont .count-down {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.events-cont .count-down li {
    margin:0 10px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    padding-bottom: 10px;
    background-color: white;
}
.events-cont .count-down h3 {
    font-size: 30px;
    color: var(--main-color);
    padding: 0 10px;
}
.events-cont .count-down span {
    border-top: 1px solid #bbbbbb;
    padding: 10px;
    
}
.events-cont .content .text h2 {
    font-size: 32px;
}
.events-cont .content .text p {
    color: #777;
    line-height: 1.8;
}
.events .mail {
    width: 50%;
    margin: 50px auto;
    background-color: #f6f5f5;
    padding: 30px;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
}
.events .mail .email {
    width: 75%;
    height: 60px;
    border: none;
    border-radius: 30px;
    caret-color: var(--main-color);
    outline: none;
    padding-left: 15px;
    
}
.events .mail .email:focus::placeholder {
    color: transparent;
}
.events .mail .subscribe {
    width: 20%;
    height: 60px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    background-color: var(--main-color);
    
}
@media (max-width:450px) {
    .events .main-heading {
        overflow: hidden;
    }
    .events::before {
        display: none;
    }
    .events::after {
        display: none;
    }
    .events-cont>img {
        display: none;
    }
    .events .content {
        width: 100%;
    }
    .events .mail {
        width: 100%;
    }
    .events .mail .email {
        width: 65%;
    }
    .events .mail .subscribe {
        width: 30%;
    }
}
/* end events  */

/* start pricing  */
.pricing {
    background-color: #ececec;
    padding: 50px 0;
    
}

.pricing-cont {
    width: 80%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    position: relative;
    z-index: 1;
}

.pricing-cont::before {
    position: absolute;
    content: '';
    bottom: -10%;
    left: -15%;
    width: 250px;
    height: 200px;
    background-image: radial-gradient( var(--main-color) 4px, transparent 4px);
    background-size: 25px 25px;
    z-index: -1;
}
.pricing-cont::after{
    position: absolute;
    content: '';
    top: -10%;
    right: -12%;
    width: 250px;
    height: 200px;
    background-image: radial-gradient( var(--main-color) 4px, transparent 4px);
    background-size: 25px 25px;
    z-index: -1;
}

.pricing-cont .plan:nth-child(2) {
    transform: translateY(-25px);

}
.pricing-cont .plan:nth-child(2) .head {
    position: relative;
}
.pricing-cont .plan:nth-child(2) .head::after {
    position: absolute;
    content: 'Most Popular';
    color: white;
    display: flex;
    align-items: center;
    padding:0 10px 15px;
    font-size: 22px;
    font-weight: bold;
    transform: rotate(90deg);
    top: -20px;
    right: -40px;
    background-color: var(--main-color-alt);
    clip-path: polygon(0 30%, 100% 30%, 81% 45%, 100% 60%, 0 60%);
    height: 150px;
    width: 170px;
    

}
.pricing-cont .plan {
    background-color: white;
    position: relative;
    box-shadow: 2px 2px 10px #00000080;
}
.pricing-cont .plan .head {
    text-align: center;
}
.pricing-cont .head h3 {font-size: 30px;}

.pricing-cont .head i {font-size: 80px;
                       color: var(--main-color);}

.pricing-cont .head h2 {font-size: 70px;
                        color: var(--main-color-alt);
                        margin: 30px auto 10px;}

                        .pricing-cont .head span {font-size: 20px;
                            color: #777;}
                            
                            
.plan::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 40%;
    background-color: #a5a5a51f;
}
.plan::after {
    position: absolute;
    content: '';
    top: 40%;
    right: 0;
    width: 0%;
    height: 45%;
    background-color: #a5a5a531;
}
.plan:hover::before {
    animation: plan-move 0.15s linear forwards;
}

.plan:hover::after {
    animation: plan-move 0.15s linear forwards;
}
@keyframes plan-move {
    100% {
        width: 100%;
    }
}
.pricing-cont .plan ul {
    margin-top: 40px;
}                          
.pricing-cont .plan li{
    font-size: 20px;
    padding: 25px 10px;
    border-top: 1px solid #bbbbbb98;
}
.pricing-cont .plan li i {
    color: var(--main-color);
    margin: auto 10px;
}
.pricing-cont .plan a {
    display: block;
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    margin: 40px auto;
    padding: 15px;
    color: var(--main-color);
}

.pricing-cont .plan a:hover {
    color: white;
    background-color: var(--main-color-alt);
}
@media (max-width: 768px) {
    .pricing-cont::before {
        display: none;
    }
    .pricing-cont::after {
        display: none;
    }
    .pricing-cont {
        width: 90%;
    }
    .pricing-cont .plan:nth-child(2) {
        transform: translateY(0);
    
    }.pricing .main-heading {
        overflow: hidden;
    }
}
/* end pricing  */

/* start videos  */
.videos {
    margin: 100px 0;
}
.vid-cont {
    width: 80%;
    margin: 100px auto;
    display: flex;
    border: 2px solid #cfcccc;
    /* box-shadow: 2px 2px 10px gray; */
}
.vid-cont .top-v {
    width: 30%;
}
.vid-cont .top-v h2 {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.vid-cont .top-v h2 span:hover {
    color: var(--main-color);
    cursor: pointer;
}
.vid-cont .top-v li {
    padding: 10px;
    border-bottom: 1px solid #bbbbbb;
}
.vid-cont .top-v li:hover h3 {
    color: var(--main-color);
}
.vid-cont .top-v li:hover {
    background-color: #f4f4f48e;
}
.vid-cont .top-v li h3 {
    color: black;
    font-weight: normal;
}
.vid-cont .top-v li span {
    color: #777;
}
.vid-cont .vid {
    width: 70%;
    background-color: #f4f4f4;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.vid-cont .vid img {
    max-width: 100%;
}
.vid-cont .vid h3 {
    background-color: white;
    padding: 25px;
}
@media (max-width: 768px) {
    .videos .main-heading {
        overflow: hidden;
    }
    .vid-cont {
        width: 95%;
        flex-direction: column;
    }
    .vid-cont .top-v {
        width: 100%;
    }
    .vid-cont .vid {
        width: 100%;
    }
}
/* end videos  */

/* start stats  */
.stats {
    position: relative;
    padding: 50px 0;
}
.stats::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -2;
}
.stats::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/imgs/stats.png);
    opacity: .2;
    z-index: -1;
}
.stats-cont {
    margin: 50px auto;
    width: 80%;
    text-align: center;
} 
@media (max-width:768px) {
    .stats-cont {
        width: 90%;
    }
}
.stats-cont h1 {
    font-size: 50px;
    padding: 30px 0;
}
.stats-cont .stat {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.stats-cont .stat .card {
    background-color: white;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}
.stats-cont .stat .card::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 4px;
    height: 0%;
    background-color: var(--main-color);
    z-index: 4;
}
.stats-cont .stat .card::after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 4px;
    height: 0%;
    background-color: var(--main-color);
    z-index: 4;
}
.stats-cont .stat .card:hover::before {
    animation: stat-m .3s linear forwards;
}
.stats-cont .stat .card:hover::after {
    animation: stat-m .3s linear forwards;
}
@keyframes stat-m {
    100% {
        height: 100%;
    }
}
.stats-cont .stat i {
    font-size: 35px;
}
.stats-cont .stat h2 {
    font-size: 55px;
    margin: 5px;
}
.stats-cont .stat span {
    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
}
/* end stats  */

/* start discount  */
.discount {
    display: flex;

}
.discount .text {
    padding-top: 50px;
    width: 50%;
    color: white;
    text-align: center;
    position: relative;
}
.discount .text::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/imgs/discount-background1.jpg);
    background-size: cover;
    opacity: .4;
    z-index: -2;
}
.discount .text::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    opacity: .9;
}
.discount .text h1 {
    font-size: 40px;
}
.discount .text p {
    width: 70%;
    margin: 30px auto;
    font-size: 20px;
    line-height: 1.8;
}
.discount .text img {
    max-height: 50%;
    
}
.discount .form {
    padding-top: 50px;
    width: 50%;
    text-align: center;

}
.discount .form form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 40px auto;
} 
.discount .form h1 {
    font-size: 40px;
}
.discount .form input  {
    border: none;
    margin-bottom: 30px;
    padding: 25px;
    background-color: #ececec;
    border-bottom: 1px solid #777;
    caret-color: var(--main-color);
}
.discount .form input:focus {
    outline: none;
}
.discount .form textarea:focus {
    outline: none;
}

.discount .form textarea {
    border: none;
    margin-bottom: 30px;
    padding: 25px;
    background-color: #ececec;
    border-bottom: 1px solid #777;
    height: 250px;
    resize: none;
    caret-color: var(--main-color);

}
.discount .form input:last-child {
    background-color: var(--main-color);
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
@media (max-width:768px) {
    .discount {
        flex-direction: column;
    }
    .discount .text {
        width: 100%;
    }
    .discount .text img {
        max-width: 80%;
    }
    .discount .form {
        width: 100%;
    }
    .discount .form form {
        width: 80%;
    }
}
/* end discount  */

/* start footer  */
.footer {
    background-color: black;
    color: white;
    padding: 10px;
}
.footer-cont {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 100px auto;
    
}
.footer-cont .main {
    
}
.footer-cont .main h1 {font-size: 50px; margin-top: 0;}

.footer-cont .main i { width: 50px; color: #b9b9b9;}

.footer-cont .main a {text-align: center; font-size: 30px; color: white;
margin-right: 10px; width: 50px; height: 50px; background-color: #313131;}

.footer-cont .main a:nth-child(1):hover {
    background-color: #3b5998;
}
.footer-cont .main a:nth-child(2):hover {
    background-color: #00acee;
}
.footer-cont .main a:nth-child(3):hover {
    background-color: #c4302b;
}
.footer-cont .main p {font-size: 18px; color: #bbbbbb; line-height: 1.7; } 

.footer-cont .links {
    font-size: 20px;
}
.footer-cont .links li { border-bottom: 1px solid #ececec44; color: #bbbbbb;
    }
.footer-cont .links li i {color: var(--main-color);}
.footer-cont .links li:hover p {
    animation: p-move .3s linear forwards; color: white;
}
@keyframes p-move {
    100% { transform: translateX(15px); }
}
.footer-cont .info { color: #bbbbbb; padding: 20px; font-size: 20px;}
.footer-cont .info li { margin-bottom: 30px; display: flex; justify-content: space-around;}
.footer-cont .info i {color: var(--main-color); width: 10%; height: 100%; font-size: 25px; margin-top: 10px;}
.footer-cont .info li span {width: 80%;}

.footer-cont .imgs { margin-top: 10px; }
.footer-cont .imgs img {width: 80px; height: 80px; border: 2px solid white; margin: 3px;}

.footer .foot { border-top: 1px solid #ececec44; text-align: center; padding: 10px;}
.footer .foot i {color: var(--main-color); margin: 0 2px;}

@media (max-width:768px) {
    .footer { text-align: center;}
}
/* end footer  */